.header {
    height: 80px;
    font-weight: 600;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 6;
    background-color: #fff;

    .container {
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__logo {
        padding: 8px;
        background: rgba(0, 0, 0, 0.04);
        border-radius: 50%;
        margin-right: 15px;

        svg {
            transition: all ease-in-out 0.25s;

            &:hover {
                fill: $orange;
            }
        }
    }

    &__left {
        .search-box {
            display: flex;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
            border-radius: 5px;

            > * {
                display: inline-flex;
                height: 47px;
            }

            .search-location {
                align-items: center;

                ion-icon {
                    position: absolute;
                    padding: 0px 12px;
                }

                input {
                    width: 300px;
                    height: 47px;
                    padding: 0 20px 0 42px;
                    font-family: "Open Sans", sans-serif;
                    font-size: $font-sm;
                    font-weight: 600;
                    color: $text-color;
                    border: none;
                    border-radius: 6px;
                    outline: none;

                    &::placeholder {
                        color: $text-color;
                    }

                    &:focus {
                        border: 2px solid $neutral-2;
                    }
                }
            }

            .search-date {
                position: relative;
                width: 115px;
                align-items: center;
                justify-content: space-around;
                padding: 10px 22px;

                &::before {
                    content: "";
                    position: absolute;
                    top: 6px;
                    left: 0;
                    width: 0.5px;
                    height: 35px;
                    background: $neutral-2;
                }

                &:hover::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    border-radius: 6px;
                    border: 2.5px solid $neutral-2;
                }
            }

            .search-guest-button {
                position: relative;
                width: 115px;
                align-items: center;
                justify-content: space-between;
                padding: 10px 14px;

                &::before {
                    content: "";
                    position: absolute;
                    top: 6px;
                    left: 0;
                    width: 0.5px;
                    height: 35px;
                    background: $neutral-2;
                }

                &:hover::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    border-radius: 6px;
                    border: 2.5px solid $neutral-2;
                }
            }

            .search-btn {
                margin: 0 6px;
                align-items: center;

                ion-icon {
                    background: $neutral-1;
                    color: $white;
                    padding: 9px 20px;
                    border-radius: 5px;
                }
            }
        }
    }

    &__right {
        margin-left: auto;

        .menu {
            display: flex;
            align-items: center;
            list-style: none;

            &__item {
                position: relative;
                padding: 0 15px;

                &-link {
                    color: $text-color;
                    text-decoration: none;

                    &:hover {
                        color: $orange;
                    }
                }

                &:last-child {
                    display: inline-flex;

                    a {
                        padding: 3px 5px;
                        border-radius: 15px;
                        background-color: $neutral-3;

                        &:hover {
                            color: inherit;
                        }
                    }

                    img {
                        width: 24px;
                        height: 24px;
                        transform: translateY(3px);
                    }

                    span {
                        position: relative;
                        top: -4px;
                    }
                }

                &--dot-news {
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 7px;
                        width: 5px;
                        height: 4.8px;
                        border-radius: 100rem;
                        background-color: $orange;
                    }
                }
            }
        }
    }

    ion-icon {
        font-size: 18px;
        --ionicon-stroke-width: 50px;
        color: $neutral-1;
    }
}
