//Color
$orange: #f65e39;

$neutral-1: #555555;
$neutral-2: #e2e2e2;
$neutral-3: #f6f6f6;

$text-color: #222222;
$white: #fff;

//Font Sizes
$font-sm: 14px; //13.5px
$font-med: 0.875rem; //14px
$font-lg: 1.125rem; //18px
// $font-xlg: 3.25rem;
